Screen {
    background: $surface-darken-1;
}

Footer {
    background: $surface-darken-1;
}

#listfeeds {
    display: block;
    scrollbar-gutter: stable;
    overflow: auto;
    width: 32;
    height: 100%;
    dock: left;
}

.entries {
    width: auto;
}
